:root {
    --main-color-bg: rgb(144, 196, 52);
    --main-text-firt: 3rem;
    --main-text-second: 2rem;
    --main-text-normal: 1.3rem;
    --paddin--top: 30px;
    --paddin--botton: 30px;
    --margin--top: 30px;
    --margin--botton: 30px;
    --font-family: 'Roboto', sans-serif;
    --font-color-text: rgb(144, 196, 52);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    font-family: var(--font-family);
}

/*MENU*/

.main_container {
    background-color: #9adb2a3a;
}

.containerHeader {
    width: 100%;
    height: 15vh;
    background-image: url(..img/plant.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    background-position-y: -15%;
}

.containerMenu {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

input {
    display: none;
} 

label {
    width: 70%;
    cursor: pointer;
}

.logoImg {
    width: 30%;
    display: flex;
    justify-content: end;
    align-content: center;
    object-fit: cover;
}

.logoMenu {
    width: 100%;
    display: block;
}

.containerText {
    width: 90%;
    margin: 0 auto;
}

.h1 {
    margin: 10px 0;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}

.h3 {
    font-size: 1.1;
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
}

.containerUl {
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transform: translateX(100%);
    transition: all 500ms ease;
}


li, a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    margin-left: 0.1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #000;
    cursor: pointer;
}

#btn-menu:checked ~ .containerUl {
    transform: translateX(0);
}

/*MEIN CONTAINER*/

.container_main {
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero {
    width: 100%;
}

.containerHeroImg {
    width: 100%;
    display: flex;
    justify-content: center;
}

.fondoHero {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerHeroImg img {
    width: 70%;
}

.container_avocado {
    width: 90%;
    height: 200px;
    overflow: hidden;
    border-radius: 0 30px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: var(--main-color-bg);

    background: #90c434;
    box-shadow:  8px 8px 10px #a9c578;
                -8px -8px 10px #ffffff;
}

.container_imgAvocado {
    width: 50%;
}
.container_imgAvocado img {
    width: 70%;
    border-radius: 50%;
    margin-left: 10px;

}

.container_text_avocado {
 width: 50%;
 color: #fff;
}

.nameAvocado {
    font-size: 1.4rem;
    font-weight: 700;
}

.priceAvocado {
    width: 60px;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.76);
    text-align: center;
}

.btn_description {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #fff;
    color: var(--font-color-text);
    cursor: pointer;
}

/*FOOTER*/

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: #90c434;*/
    background: black;
    margin-top: 60px;
    
}

.container_logo {
    width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_logo img {
    width: 30%;

    
}

.text_footer {
    width: 50%;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 0.8rem;
    color: var(--font-color-text);
}

/*MEDIA QUIERI*/

@media screen and (min-width: 768px) {
    .containerHeader {
        height: 20vh;
    }
    .fa-bars {
        font-size: 2rem;
    }
    .containerUl {
        padding: 20px 0;
    }

    a {
        font-size: 1.1rem;
    }

    .mainText {
        width: 90%;
        margin: 0 auto;
    }
    .container_main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .container_avocado {
        max-width: 45%;
        border-radius: 30px 30px 30px 30px;
    }
}

@media screen and (max-width: 1024px) {
    .hero {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .containerHeroImg {
        width: 50%;
    }
    .fondoHero {
        width: 100%;
    }
    .containerHeroImg img {
        width: 100%
    }
    .containerText {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

